{% extends "base.html" %}
{% block body %}

<div class="portada">

    

    <div class="contenedor">
        <div class="rainbow-banner">
            <h3 class="sombra">Bienvenido a Finkies</h3>
        </div>
    </div>

    <div class="productos-intro">
        <p class="productos-intro-text">Nuevos lanzamientos</p>
    </div>

    <div class="carousel-container carousel-1">
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                {% for producto in lanzamientos %}
                <li class="card">
                    <a href="/producto/{{producto.idProducto}}">
                        <div class="img"><img src="{{producto.imagen}}" alt="{{producto.nombre}}" draggable="false">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    <div class="productos-intro">
        <p class="productos-intro-text">Conoce algunos de los productos</p>
    </div>

    <div class="carousel-container carousel-2">
        <div class="wrapper">
            <i id="left-2" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                {% for producto in productos %}
                <li class="card">
                    <a href="/producto/{{producto.idProducto}}">
                        <div class="img"><img src="{{producto.imagen}}" alt="{{producto.nombre}}" draggable="false">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <i id="right-2" class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    <div class="contenedor">
        <div class="producto-del-mes">
            <div><img src="{{productoDelMes.imagen}}" alt="producto del mes"></div>
            <div>
                <h1>PRODUCTO DEL MES</h1>
                <p class="upper bold">{{ productoDelMes.nombre }}</p>
                <p>{{ productoDelMes.descripcionResumida }}</p>
                <br>
                <button class="btn"><a href="/producto/{{productoDelMes.idProducto}}">Compra ahora</a></button>
            </div>
        </div>
    </div>

    <script>
        const carousels = document.querySelectorAll(".carousel-container");
    
        carousels.forEach(carouselContainer => {
            const carousel = carouselContainer.querySelector(".carousel");
            const firstCardWidth = carousel.querySelector(".card").offsetWidth;
            const arrowBtns = carouselContainer.querySelectorAll("i");
            const carouselChildrens = [...carousel.children];
    
            let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;
    
            // Get the number of cards that can fit in the carousel at once
            let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);
    
            // Insert copies of the last few cards to beginning of carousel for infinite scrolling
            carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
                carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
            });
    
            // Insert copies of the first few cards to end of carousel for infinite scrolling
            carouselChildrens.slice(0, cardPerView).forEach(card => {
                carousel.insertAdjacentHTML("beforeend", card.outerHTML);
            });
    
            // Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
            carousel.classList.add("no-transition");
            carousel.scrollLeft = carousel.offsetWidth;
            carousel.classList.remove("no-transition");
    
            // Add event listeners for the arrow buttons to scroll the carousel left and right
            arrowBtns.forEach(btn => {
                btn.addEventListener("click", () => {
                    carousel.scrollLeft += btn.id.includes("left") ? -firstCardWidth : firstCardWidth;
                });
            });
    
            const dragStart = (e) => {
                isDragging = true;
                carousel.classList.add("dragging");
                // Records the initial cursor and scroll position of the carousel
                startX = e.pageX;
                startScrollLeft = carousel.scrollLeft;
            }
    
            const dragging = (e) => {
                if(!isDragging) return; // if isDragging is false return from here
                // Updates the scroll position of the carousel based on the cursor movement
                carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
            }
    
            const dragStop = () => {
                isDragging = false;
                carousel.classList.remove("dragging");
            }
    
            const infiniteScroll = () => {
                // If the carousel is at the beginning, scroll to the end
                if(carousel.scrollLeft === 0) {
                    carousel.classList.add("no-transition");
                    carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
                    carousel.classList.remove("no-transition");
                }
                // If the carousel is at the end, scroll to the beginning
                else if(Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
                    carousel.classList.add("no-transition");
                    carousel.scrollLeft = carousel.offsetWidth;
                    carousel.classList.remove("no-transition");
                }
    
                // Clear existing timeout & start autoplay if mouse is not hovering over carousel
                clearTimeout(timeoutId);
                if(!carouselContainer.matches(":hover")) autoPlay();
            }
    
            const autoPlay = () => {
                if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
                // Autoplay the carousel after every 2500 ms
                timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
            }
            autoPlay();
    
            carousel.addEventListener("mousedown", dragStart);
            carousel.addEventListener("mousemove", dragging);
            document.addEventListener("mouseup", dragStop);
            carousel.addEventListener("scroll", infiniteScroll);
            carouselContainer.addEventListener("mouseenter", () => clearTimeout(timeoutId));
            carouselContainer.addEventListener("mouseleave", autoPlay);
        });
    </script>
        

    {% endblock %}