{% extends "base.html" %}

{% block body %}
<div class="register">
    <div class="wrapper">
        <div class="title">
           Registrarse
        </div>
        <form action="" method="post">

            <div class="row">
                <div class="field">
                    <input type="text" name="username" id="username" placeholder="Introduce tu nombre de usuario" required>
                </div>
                <div class="field">
                    <input type="email" name="correo" id="correo" placeholder="Introduce tu correo electrónico" required>
                </div>
            </div>

            <div class="row">
                <div class="field">
                    <input type="text" name="nombre" id="nombre" placeholder="Introduce tu(s) nombre(s)" required>
                </div>
                <div class="field">
                    <input type="text" name="apellido1" id="apellido1" placeholder="Introduce tu primer apellido" required>
                </div>
            </div>

            <div class="row">
                <div class="field">
                    <input type="text" name="apellido2" id="apellido2" placeholder="Introduce tu segundo apellido" required>
                </div>
                <div class="field">
                    <input type="password" name="contrasena" id="contrasena" placeholder="Introduce tu contraseña" required>
                </div>
            </div>

            <div class="row">
                <div class="field">
                    <input type="password" name="contrasena2" id="contrasena2" placeholder="Confirma tu contraseña" required>
                </div>
                <div class="field">
                    <span id="coinciden"></span>
                </div>
            </div>

            <div class="centrar">
                <input type="submit" id="confirmar" value="Registrarse">
            </div>

        </form>
        <script>
            var contrasena = document.getElementById("contrasena")
            , contrasena2 = document.getElementById("contrasena2");
        
            function coinciden(){
                if(contrasena.value != contrasena2.value) {
                    contrasena2.setCustomValidity("Las contraseñas no coinciden");
                    document.getElementById("coinciden").innerHTML = "Las contraseñas no coinciden";
                    document.getElementById("coinciden").style.color = "red";
                } else {
                    contrasena2.setCustomValidity('');
                    document.getElementById("coinciden").innerHTML = "";
                }
            }
            contrasena.onchange = validarContrasena;
            contrasena2.onkeyup = coinciden;
        
            function validarContrasena() {
                var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/
                if(regex.test(contrasena.value)) {
                    contrasena.setCustomValidity('');
                    document.getElementById("coinciden").innerHTML = "";
                } else {
                    contrasena.setCustomValidity("La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número");
                    document.getElementById("coinciden").innerHTML = "La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número";
                    document.getElementById("coinciden").style.color = "red";
                }
        
            }
        </script>
    </div>
</div>
{% endblock %}